<p>Howdy,</p>

<p>
  <%= @to_user.email %> has shared a Checklist with you.
</p>

<p>
  You can log in in our system using GitHub and see the Checklist.
  <%=  link_to "Click here to accept", accept_checklist_url(email: @to_user.email, checklist_id: @checklist.id) %>
</p>
